body {
	margin: 0;
	text-align: center;
	font-family: verdana, sans-serif;
	font-family: 'Merriweather', serif;
	color: #40514e;
}

h1 {
	margin: 50px auto 0;
	font-family: 'Pacifico', cursive;
	font-size: 2.8125rem;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
}

h1, h2 {
	color: #66BFBF;
}

h3 {
	font-family: 'Montserrat', sans-serif;
}

h3, a {
	color: #11999E;
}

hr {
	border-color: #eaf6f6;
	border-style: dotted none none;
	width: 5%;
	border-width: 5px;
	margin: 40px auto;
}

.top-container {
	background-color: #e4f6f6;
	position: relative;
	padding-top: 100px;
}

.middle-container {
	padding: 50px 0;
	position: relative;
}

.bottom-container {
	background-color: #66bfbf;
	padding: 25px 0;
	position: relative;
	line-height: 3;
	height: 120px;
}

.top-cloud {
	position: absolute;
	top: 50px;
	right: 300px;
}

.bottom-cloud {
	position: absolute;
	left: 300px;
	bottom: 300px;
}

.skill-row {
	width: 50%;
	margin: 100px auto 0;
	text-align: left;
	line-height: 2;
}

.java-img {
	float: left;
	width: 25%;
	margin-right: 30px;
}

.guitar-img {
	float: right;
	width: 25%;
	margin-left: 30px;
}

.profile {
	margin: 0 auto 0;
	line-height: 2;
	width: 40%;
}

.btn {
   background: #E4F6F6;
   background-image: -webkit-linear-gradient(top, #E4F6F6, #66BFBF);
   background-image: -moz-linear-gradient(top, #E4F6F6, #66BFBF);
   background-image: -ms-linear-gradient(top, #E4F6F6, #66BFBF);
   background-image: -o-linear-gradient(top, #E4F6F6, #66BFBF);
   background-image: -webkit-gradient(to bottom, #E4F6F6, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 18px;
   line-height: 18px;
   color: #FFFFFF;
   font-family: Verdana;
   width: 150px;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #E4F6F6 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #66BFBF;
   border: solid #66BFBF 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

 .footer-link {
	 color: #11999e;
	 margin: 0 25px;
	 text-decoration: none;
 }

 .credit {
	 color: #eaf6f6;
	 margin: 0;
	 font-size: 75%;
 }